<div class="form-group">
    <form action="/add" method="post" enctype="multipart/form-data">
        <div class="col s3">
            <label class="form-label">Название работы</label>
        </div>
        <div class="col s6">
            <input class="form-input" id="name" name="name" type="text" required>
        </div>
        <div class="col s3">
            <label class="form-label">Файл</label>
        </div>
        <div class="col s6">
            <input class="form-input" id="filePath" name="filePath" type="file">
        </div>
    <button class="btn btn-success publish-task-btn">Опубликовать задание</button>
</form>

</div>