<div class="form-group">
    <form action="/add" method="post" enctype="multipart/form-data">
        <div class="input-field col s6">
            <input id="name" name="name" type="text" required value="{{task.name}}">
            <label for="name">Название работы</label>
        </div>
       <div class="file-field input-field">
            <div class="btn">
                <span>Файл</span>
                <input class="form-input" id="filePath" name="filePath" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    <button class="btn btn-success publish-task-btn">Опубликовать задание</button>
</form>

</div>