<div class="form-group">
    <form action="/task/addContent" method="post" enctype="multipart/form-data">
        <div class="col-3">
            <label class="form-label">Название темы</label>
        </div>
        <div class="col-6">
            <input class="form-input" id="name" name="name" type="text" required>
        </div>
        <div class="col-3">
            <label class="form-label">Файл</label>
        </div>
        <div class="col-6">
            <input class="form-input" id="filePath" name="filePath" type="file">
        </div>
        <div class="col-3">
            <label class="form-label">Ответ</label>
        </div>
        <div class="col-6">
            <input class="form-input" id="answer" name="answer" type="text">
        </div>
        <input type="hidden" name="id" value="{{id}}">
    <button class="btn btn-success publish-task-btn">Опубликовать тему</button>
</form>