<form action="/publicFiles/add" method="post" enctype="multipart/form-data" style="margin-top: 50px">
    <div class="file-field input-field">
        <div class="btn">
            <span>Файл</span>
            <input class="form-input" id="filePath" name="filePath" type="file" required>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>

    <button type="submit" class="btn btn-success publish-task-btn col s3">Опубликовать
        файл</button>
</form>