<div class="auth">
    <div class="row">
        <div id="change" class="col s6 offset-s3">
            {{#if changeError}}
            <p class="alert">{{changeError}}</p>
            {{/if}}
            <h1>Изменить пароль</h1>
            <form action="/profile/changePassword" method="post" novalidate>

                <div class="input-field">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Старый Пароль</label>
                    <span class="helper-text" data-error="Пароль"></span>
                </div>

                <div class="input-field">
                    <input id="newPassword" name="newPassword" type="password" class="validate" required>
                    <label for="newPpassword">Новый пароль</label>
                    <span class="helper-text" data-error="Пароль"></span>
                </div>

                <div class="input-field">
                    <input id="confirm" name="confirm" type="password" class="validate" required>
                    <label for="confirm">Новый пароль еще раз</label>
                    <span class="helper-text" data-error="Пароль"></span>
                </div>

                <input type="hidden" name="_csrf" value="{{csrf}}">

                <button class="btn btn-primary" type="submit">Изменить пароль</button>
            </form>
        </div>
    </div>
</div>