<div class="form-group">
    <form action="./addSubTask" method="post" enctype="multipart/form-data">

        <div class="input-field col s3">
            <input class="form-input" id="name" name="name" type="text" required>
            <label for="name">Название темы</label>
        </div>
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Задание</label>
        </div>

        <div class="col s3">
            <input class="form-input" id="filePath" name="filePath" type="file">
        </div>

        <div class="input-field col s3">
            <input class="form-input" id="answer" name="answer" type="text">
            <label for="answer">Ответ</label>
        </div>

        <button class="btn btn-success publish-task-btn col s3">Опубликовать тему</button>
    </form>
</div>