{{#each tasks}}
<ul class="collection with-header">
    <li class="collection-header">
        <h4>{{name}}</h4>
    </li>
    {{#each variants}}
    <ul class="collection with-header">
        <li class="collection-header">
            <h5>Вариант {{number}}</h5>
        </li>
        {{#each subTasks}}
        <li class="collection-item">
            <div>{{name}}<a href="/journal/watchBySubTask/{{id}}" class="secondary-content"><i class="material-icons">send</i></a></div>
        </li>
        {{/each}}
    </ul>
    {{/each}}
</ul>
{{/each}}