<div class="auth">
    <div class="row">
        <div id="reset" class="col s6 offset-s3">
            {{#if resetError}}
            <p class="alert">{{resetError}}</p>
            {{/if}}
            <h1>Сброс пароля</h1>

            <form action="/auth/reset" method="post">
                <div class="input-field">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Введите email"></span>
                </div>

                <div class="input-field">
                    <input id="name" name="name" type="text" class="validate" required>
                    <label for="name">Имя</label>
                    <span class="helper-text" data-error="Ваше имя"></span>
                </div>

                <input type="hidden" name="_csrf" value="{{csrf}}">

                <button class="btn btn-primary" type="submit">Запросить сброс</button>
            </form>
        </div>
    </div>
</div>