.answer-form {
    padding: 12px 0 12px 0;
}

.answers-table {
    padding-bottom: 20px;
}

.add-answer-btn {
    margin: 7px
}

.publish-task-btn {
    margin-top: 10px;
}

.course-task {
    padding: 20px 10px 10px 10px
}

.edit-form {
    padding: 10px 0 10px 0
}

.edit-variant-on-main a {
    color: white;
    text-decoration: none
}

.edit-variant-on-main-form {
    padding-bottom: 10px;
}

.variant-card {
    padding: 10px 10px 10px 10px
}

.result-table {
    margin-bottom: 10px;
}

.reset-div {
    margin-bottom: 20px;
}