.answer-form {
    padding: 12px 0 12px 0;
}

.answers-table {
    padding-bottom: 20px;
}

.add-answer-btn {
    margin: 7px
}

.publish-task-btn {
    margin-top: 10px;
}

.course-task {
    padding: 20px 10px 10px 10px
}

.edit-form {
    padding: 10px 0 10px 0
}